<div class="wm-how-to" fxLayoutAlign="center center">
  <div>
    <div class="wm-how-to__header" fxLayoutAlign="start center">
      <img class="wm-how-to__logo" src="assets/images/logo.png" alt="Logo" />
      <span class="wm-how-to__how-text"> HOW TO PLAY </span>
    </div>
    <div class="wm-how-to__instructions">
      <ol>
        <li>Click and flip two tiles at a time</li>
        <li>Match all our Good Together Values.</li>
        <li>Find the 6 correct matches as fast as you can.</li>
        <li>
          Players who find all correct matches the quickest <br />
          join the leaderboard.
        </li>
        <li>
          Five players with the fastest time <br />wins Sodexo Gift Certificates
        </li>
      </ol>
    </div>
  </div>
  <img
    (click)="play()"
    class="wm-how-to__action"
    src="assets/images/begin-btn.png"
    alt="Begin"
  />
</div>
